{% extends 'base.html' %}

{% block content %}
    <div>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sign Up">
        </form>

        <a href="{% url 'login' %}">Or login?</a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2020",
            });
        });
    </script>
{% endblock %}